@tailwind base;
@tailwind components;
@tailwind utilities;

.date-card {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table,
th,
td {
  border-collapse: collapse;
}

table th{
  padding:10px;
  border-left: 1px solid #ccc;
  color: #673AB7;
  border-bottom:1px solid #000;
  font-weight: 300;
}
table tr{
  border-bottom:1px solid #000;
}
table td{
  border-left: 1px solid #ccc;
  padding:10px;
}
table td span{
  color:#000;
  font-weight: 300 !important;
  display: block;
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: 30px;
  --b: 6px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #514b82;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 70deg,#0000 71deg 90deg),
    radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
          mask-composite: intersect;
  animation: l5 1s infinite;
}
@keyframes l5 {to{transform: rotate(.5turn)}}

